name: cd

on:
  push:
    branches: [main]
jobs:
  deploy:
    name: Deploy
    runs-on: ubuntu-latest

    steps:
      - name: Set up gp
        uses: actions/setup-go@v4
        with:
          go-version: 1.20
      - name: Check out code
        uses: actions/checkout@v3

      - name: Build app
        run: ./scripts/buildprod.sh
