name: cd

on:
    push:
      branches: [main]

jobs:
    Deploy:
        name: Deploy
        runs-on: ubuntu-latest

        steps:
          - name: Check out code
            uses: actions/checkout@v4

          - name: Set up Go
            uses: actions/setup-go@v5
            with:
                go-version: "1.23.0"

          - name: Build app
            run: scripts/buildprod.sh

          - name: Google Auth
            uses: 'google-github-actions/auth@v2'
            with:
              credentials_json: '${{ secrets.GCP_CREDENTIALS }}'
          
          - name: Set up Cloud SDK
            uses: 'google-github-actions/setup-gcloud@v1'
          
          - name: Build and Push Image
            run: |
              gcloud config set project notely-450310
              gcloud builds submit --tag europe-north1-docker.pkg.dev/notely-450310/notely-ar-repo/notely:latest .
        
          - name: Deploy to Cloud Run
            run: gcloud run deploy notely --image europe-north1-docker.pkg.dev/notely-450310/notely-ar-repo/notely:latest --region europe-north1 --allow-unauthenticated --project notely-450310 --max-instances=4