name: Deployment

on:
  push:
    branches: [main]
jobs: 
  deploy:
    name: Deploy
    runs-on: ubuntu-latest
    timeout-minutes: 30
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Go
        uses: actions/setup-go@v2
        with:
          go-version: "1.22"

      - name: Build
        run: ./scripts/buildprod.sh