name: cd
on:
  push:
    branches: [main]

jobs:
  deploy:
    name: Deploy
    runs-on: ubuntu-latest

    steps:
      - name: Check out code
        uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: "1.22"

      - name: Build app
        run: ./scripts/buildprod.sh

      - id: "auth"
        uses: "google-github-actions/auth@v2"
        with:
          credentials_json: "${{ secrets.GCP_CREDENTIALS }}"

      - name: "Set up Cloud SDK"
        uses: "google-github-actions/setup-gcloud@v2"

      - name: "Push docker"
        run: "gcloud builds submit --tag europe-west4-docker.pkg.dev/notely-429108/notely-ar-repo/mavalente:latest ."

      - name: Deploy to Cloud Run
        run: gcloud run deploy test --image europe-west4-docker.pkg.dev/notely-429108/notely-ar-repo/mavalente:latest --region us-central1 --allow-unauthenticated --project notely-429108 --max-instances=4
