name: ci
on:
  pull_request:
    branches: [main]

jobs:
  tests:
    name: go test
    runs-on: ubuntu-latest

    steps:
      - name: Check out code
        uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: "1.23.0"

      - name: go test
        run: go test ./...
