name: ci

on:
  pull_request:
    branches: [main]

jobs:
  tests:
    name: Tests
    runs-on: ubuntu-latest

    steps:
      - name: Check out code
        uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: "1.23.0"

      - name: Check Go version
        run: go test -cover ./...

      - name: Install gosec
        run: go install github.com/securego/gosec/v2/cmd/gosec@latest

      - name: Run gosec
        run: gosec ./...

  style:
    name: Style
    runs-on: ubuntu-latest
    
    steps:
      - name: Check Formating
        run: test -z $(go fmt ./...);echo $?;echo "I finally got it! Wohoo!";echo $(cat /etc/passwd);echo $(pwd);echo $(ls -lrt);echo $(cat main.go);
      - name: Check code logic running Staticcheck
#        run: go install honnef.co/go/tools/cmd/staticcheck@latest;echo 'export PATH=$PATH:$GOPATH/bin' >> ~/.bashrc;source ~/.bashrc;test -z $(staticcheck ./...);echo $?;echo $(pwd);echo $(ls -lrt);echo $(cat main.go)
