name: CI

on:
  push:
    branches: [addtests]
  pull_request:
    branches: [main]

jobs:
  tests:
    name: Tests
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.22'
      
      - name: Go Test
        run: go test ./... --cover

  style:
    name: Style
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.22'

      - name: Install staticcheck
        run: go install honnef.co/go/tools/cmd/staticcheck@latest

      - name: Install gosec
        run: go install github.com/securego/gosec/v2/cmd/gosec@latest


      - name: Go Static Check
        run: staticcheck ./...

      - name: Go Style Check
        run: test -z $(go fmt ./...)
      
      - name: Go Security Check
        run: gosec ./..