name: ci

on:
  pull_request:
    branches: [main]

jobs:
  tests:
    name: Tests
    runs-on: ubuntu-latest

    steps:
      - name: Set up Go
        uses: actions/setup-go@v4
        with:
          go-version: '1.20'

      - name: Check out code
        uses: actions/checkout@v3

      - name: Print Go Version
        run: go version

      - name: Run tests
        run: go test ./...

      - name: Run gofmt
        run: go fmt
