name: fmt

on:
  pull_request:
    branches: [main]

jobs:
  tests:
    name: Auto Format
    runs-on: ubuntu-latest

    steps:
      - name: Check out code
        uses: actions/checkout@v4
      - name: Set up Go
        uses: actions/setup-go@v4
        with:
          go-version: "1.22"
      - name: Format and Test
        run: test -z $(go fmt ./...) && echo $?
